.Form {
    background-color: white;
    width: 25rem;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: center;
}

.Form span {
    text-align: center;
    font-size: 2rem;
}

.Form input {
    margin: 5px;
    font-size: 1.5rem;
}

.Form button {
    background-color: #FFBF00;
    color: white;
    font-size: 2rem;
    width: fit-content;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgba(0, 0, 0, 0.09)
}

.Form button:hover {
    cursor: pointer;
}